.agents
.antigravitycli
.claude
.claude-plugin
.devcontainer
.env.development.local
.env.local
.env.production.local
.env.test.local
.gemini
.git
.gitignore
.mcp.json
.pnpm-store
.todo
.vscode
**/coverage
**/dist
**/node_modules
CLAUDE.md
LICENSE
pnpm-debug.log
README.md
