OP_SERVICE_ACCOUNT_TOKEN=<Devstone Service Account Auth Token>

CLOUDFLARE_API_TOKEN="op://Common Resources/Cloudflare/credential"
CLOUDFLARE_ACCOUNT_ID="op://Common Resources/Cloudflare/3777iyzre76ekcm4c2krgjj3o4"

NOTION_API_TOKEN="op://Devstone/Notion API Token/credential"
NOTION_WEBHOOK_SECRET="op://Devstone/Notion Webhook Secret/credential"
SLACK_WEBHOOK_URL="op://Devstone/Slack Webhook URL/credential"
TOGGL_API_TOKEN="op://Devstone/Toggl API Token/credential"
TOGGL_WORKSPACE_ID="op://Devstone/Toggl Workspace ID/credential"
