{
  "$schema": "../../../.moon/cache/schemas/project.json",

  "id": "libs-{{ name | kebab_case }}",
  "layer": "library",
  "language": "typescript",
  "toolchains": { "default": "node" },
  "tags": ["testable"],

  "project": {
    "title": "libs/{{ name | kebab_case }}",
    "description": "{{ name }}のライブラリパッケージです。"
  },

  "tasks": {
    "test-cov": {
      "command": "pnpm run test:cov",
      "outputs": ["coverage/**"]
    }
  }
}
